<!-- Insertar los cursos y la direccion de la función -->

{% extends 'padre.html' %}
{% load static %} <!-- cargar todos los doc static que necesite -->
{% block contenido %} <!-- de block padre manda  -->
    {% for n in cursos %}
        <p>{{n.nombre}}</p>
        <p>{{n.camada}}</p>
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>camada</th>
            </tr>
        </thead>
        <tbody>
            {% for n in cursos %}
            <tr>
                <th scope="row">{{n.id}}</th>
                <td>{{n.nombre}}</td>
                <td>{{n.camada}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
